<!DOCTYPE html>

<html>
    <head>
        <title>MY SERVER</title>
    </head>
    <body>
        <h1>Enter Driver Info below to Find :-</h1>
        <form action="/register" method="get">

          <!-- First Name & Last Name boxes -->
          <br>
          <label for="fname">First name:</label><br>
          <input type="text" id="fname" name="fname"><br>
          <label for="lname">Last name:</label><br>
          <input type="text" id="lname" name="lname"><br>
          <br>

          <!-- Submit Button -->
          <br>
          <input type="submit" value="Submit"><br>
          <br>

        </form>

    </body>
</html>
